@charset "utf-8";

form {
    background-color: #f3f3f3;
    width: 282px;    
    padding: 16px;
    box-shadow: 15px 15px 0 skyblue;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;      
}

form input[type=search] {
    background-color: #fff;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    outline:1px solid rgb(128, 128, 128,0.7);
    border-radius: 8px;
    width:250px;
    height: 48px;
    margin:16px auto 0;
    padding-left: 52px;
}

input::placeholder {
    font-size: 15px;
    font-weight: 400;
    color:gray;
}

form button[type=submit] {
    background-color: rgb(10, 222, 237);
    border-radius: 8px;
    width: 250px;
    height: 48px;
    margin:16px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

form a {
    align-self: flex-end;
    margin-right: 16px;
    color: gray;
}

button {
    transition: 0.3s;
}

button:hover{
    scale: 1.02;
}