@charset "utf-8";

html,body {
    width:100%;
    height:100%;
    overflow: hidden;
}

.video_container {
    background-image: url('../images/google_bg_img.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.page_header {
    width:100%;
    margin:30px auto;
    padding:0 1rem;
    color: white;
    }

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bar ul {
    display: flex;
    flex-direction: row;
    gap:20px;
}

.menu-bar .darkmode {
    filter: brightness(0) invert(1);
}

.slogan-container {
    text-align: center;
    color: white;
    padding:56px 0 0;
}

.slogan-container h1 {
    font-size: 4em;
}

.poem-stroke {
    width: 200px;
    height: 100px;
    background: transparent;   
    border-top: 1px solid #fff; 
}

