@charset "utf-8";

.all-container {
    color: white;
    font-family: sans-serif;
    position: relative;
}

div .video_container {
    position: absolute;
    z-index: -1;
    width:100%;
    height: 100%;
}

.page_header {
    width:100%;
    margin:30px auto;
    padding:0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }


.menu-bar ul {
    display: flex;
    flex-direction: row;
    gap:20px;
}

.menu-bar .btn-mode {
    filter: brightness(0) invert(1);
}

.slogan-container {
    text-align: center;
    color: white;
    padding:56px 0 0;
}

.slogan-container h2 {
    font-size: 4em;
    font-weight: 700;
}

.slogan-container p {
    font-weight: 500;
}

.poem-stroke {
    width: 50px;
    height: 20px;
    margin: 20px auto;
    background: transparent;   
    border-top: 1px solid #fff; 
}

.ico-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px auto;
    width: 48px;
    height: 48px;
}

