@charset "utf-8";

html,body {
    width:100%;
    height:100%;
    overflow: hidden;
}

body {
    background-image: url('../images/google_bg_img.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

nav {
    padding:8px;
    color:white;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    font-size: 13px;
    font-family: sans-serif;
}

nav ul {
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    gap:20px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul img {
    height: 20px;
    width: 20px;
}

.profile-icon img {
    height: 24px;
    width: 24px;
}

.main-container {
    padding:56px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-container h1 img {
    filter: brightness(0) invert(1);

}

.search-container {
  width: 746px;
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  padding: 0 12px;
  box-sizing: border-box;
  margin-top: 56px;
}

.search-bar {
  flex: 1;
  height: 100%;
  font-size: 16px;
  padding: 0 12px 0 40px;
  background: url('../images/icons/search.svg') no-repeat 12px center;
  background-size: 20px 20px;
}

.icon-bar {
  display: flex;
  align-items: center;
  gap: 12px; 
  padding: 24px 0;
}

.icon-bar img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.link-container ul {
    display:flex;

}

.link-container li {
    position: relative;
}

.link-container ul li {
    width: 112px;
    height: 112px;
    padding:10px;
    background-image: url(../images/icons/circle.png);
    background-position: top 18.5px center;
    background-repeat: no-repeat;
    }

.link-container ul li:hover{
    background-color: rgb(255, 255, 255,0.2);
    border-radius: 4px;
}

ul li:hover button {
    display: block;
  opacity: 1;
  visibility: visible;
}

.link-container .snsimg {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-container button {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -195%);
    cursor: pointer;
    z-index: 2;
}

.link-container button img {
    height: 20px;
    width: 20px;
}

.link-container .snsname {
    font-size:15px;
    font-family: sans-serif;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.link-container .snsname, .link-container .snsimg 
{ z-index: 1; }


