@charset "utf-8";
body {
  background-image:
    /* 1. 딤 그라디언트 레이어 */
    linear-gradient(
      180deg,
      rgba(0, 6, 8, 0.85) 20%,     
      rgba(99, 24, 43, 0.65) 40%,  
      rgba(99, 24, 43, 0.65) 80%    
    ),
  url('../images/netflex_bg_img.jpg');
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  color: #fff;
  font-family: sans-serif;
  gap: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
}

.netflix_logo img {
 width: 148px;
 height: 50px;
 margin:20px;
}

span {
    margin:20px;
    display: flex;
    flex-direction:start-end;
}

button {
    color:#fff;
    width: 68.24px;
    height: 32px;
    background-color: red;
    border-radius: 8px;
    display:flex;
   justify-content:center;
   align-items:center;
   font-size: 15px;
   font-weight: bold;
   letter-spacing: -0.4px;
   line-height: 1;
}

select {
    color: #fff;
  height: 32px;
  width: 124px;
  border-radius: 8px;
  background-color: black;
  outline:1px solid #6e6868;
  justify-content: center;
  align-items:center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 1;
  background-image: url('netflix_lang_icon.svg');
}

.center_lolem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.bottom_lolem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bigfont {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.article {
    font-size: 1.25rem;
    font-weight: 500;
}

.article2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

input {
    width: 412px;
    height: 56px;
    background-color: black;
     outline:1px solid #6e6868;
     border-radius: 8px;

}

.start_btn {
    width: 167px;
    height: 56px;
    font-size: 1.5rem;
}

.emailbar {
display: flex;
  justify-content: center;
  gap:10px;
}

