@charset "utf-8";

:root {
  --primary: #d81e27;
  --title: 56px;
  --description: 20px;
  --radius-s: 0.24rem;
  --radius-m: 0.5rem;
  --radius-l: 1rem;
  --grd-type-a: linear-gradient(91deg, #261733, #151a3f);
  --max-w: 1414px;
}

/*header*/

header {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
}

.netflix_logo img {
 width: 148px;
 height: 100%;
 margin:20px;
}

.navi_btn {
    margin:20px;
    display: flex; 
    gap:8px;
}

button {
    color:#fff;
    width: 68.24px;
    height: 32px;
    background-color: red;
    border-radius: 4px;
    display:flex;
   justify-content:center;
   align-items:center;
   font-size: 15px;
   font-weight: bold;
   letter-spacing: -0.4px;
   line-height: 1;
}

select {
  color: #fff;
  height: 32px;
  width: 124px;
  border-radius: 4px;
  background-color: black;
  outline:1px solid #6e6868;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 1;
  background-image: url('../images/netflix_lang_icon.svg');
  background-repeat: no-repeat;
  background-position: left 8px center;
  background-size: 16px auto;
  Padding-left:28px;
}

/*main*/
.page-main {
}

body {
  background-image:
    linear-gradient(
      180deg,
      rgba(56, 23, 31, 0.65) 10%,
      rgba(0, 6, 8, 0.85) 100%      
    ),
  url('../images/netflix/netflex_bg_img.jpg');
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom_lolem { 
  position: relative; 
  z-index: 2; 
}


.bar {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.center_lolem {
    text-align: center;
    align-items: center;
    margin-top:100px;
    margin-bottom: 20px;
}

.bottom_lolem {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bigfont {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.article {
    font-size: 1.25rem;
    font-weight: 500;
}

.article2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.bar input[type="email"] {
  flex: 1 1 auto;
  max-width: 412px;
  height: 56px;
  padding: 0 14px;
  border-radius: 8px;
  border: 1px solid #6e6868;
  margin-top:15px;
  background: #000;
  color: #fff;
  z-index: 3;          /* 오버레이보다 위 */
  pointer-events: auto;/* 혹시 부모가 none인 경우 대비 */
}

.start_btn {
    width: 167px;
    height: 56px;
    font-size: 1.5rem;
    margin-top:15px;
}


/* popcon banner*/
.page-main {
  margin: 32px 0;
  padding:0 32px;
}
.page-main .box1 {
  display: flex;
  align-items: center;
  transition: 0.4s;
}

.page-main .box1 .textwrap {
  min-width:160px;
  border-radius: var(--radius-l);
  background-image: var(--grd-type-a);
  padding: 1.25rem;
  max-width: var(--max-w);
  width: 100%;
  position: relative;
  padding-right: calc(160px + 124px + 30px);
}

.page-main .box1 h3 {
  font-size: 1.25rem;
}

.page-main .box1 a:hover {
  background-color: rgba(90, 89, 89, 0.3);
}

.page-main .box1:hover {
  scale: 1.05;
}

.page-main .box1 .textwrap:hover {
  background: linear-gradient(91deg, #301945, #161e58);

}

.page-main .box1 .textwrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-s);
  background-color: rgba(255,255,255,0.5);
  padding:0.5rem 1.5rem;
  position: absolute;
  right: 30px;
  top:50%;
  translate:0 -50%;
  transition:0.4s;
}

.page-main .box1 img {
  width: 76.8px;
  height: 76.8px;
}

/*지금뜨는 컨텐츠*/
.page-main .contents {
  margin-top:2rem 0;
}

.now-container h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.now-container .ranking {
  font-family: sans-serif;
  font-size: 96px;
  font-weight: 1000;
  color: black;                       /* 글자 색 */
  -webkit-text-stroke: 2px #fff;     /* 테두리 굵기와 색 */
}

.now-container img {
  width: 140px;
  height: 196px;
  border-radius: 8px;
}

.reason-container ul {
  display: flex;
  justify-content: space-between;
  gap:12px;
}

.reason-container li {
  width:calc((100% - 36px) / 4);
  height: 200px;
  outline: 1px solid gold;
  background: url("../images/sns-naver.svg") no-repeat right 10px bottom 15px/40px auto;
}

.faq-list {
  margin-top: 100px;
  max-width: 860px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;         
  justify-content: flex-start;  
  gap: 5px;                    
}

.faq-list h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 16px;
}

.faq-list details summary {
  width: 100%;
  padding: 24px;
  font-size:18px;
  color:#fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.faq-list details img {
  width: 24px;
  height:24px;
  filter: brightness(0) invert(1);
}

.faq-list details .faq-box {
  width: 100%;
  padding: 24px;
  font-size: 18px;
  color: #fff;
  background-color: #3b3b3b;
}

.faq-list details {
  width: 100%;
  font-size: 18px;
  color: #fff;
  background-color: #3b3b3b;
  background: #2a2a2a; 
  overflow: hidden; 
  margin-bottom: 12px;
  transition: border-color .2s ease, box-shadow .2s ease, transform .2s ease;
  box-sizing: border-box;
  margin: 0;                    
}

.faq-list summary .down{ 
  display:none; }

.faq-list details:click summary .up{ display:none; }
.faq-list details:click summary .down{ display:inline-block; }

.faq-list details[open] summary .up{ display:none; }
.faq-list details[open] summary .down{ display:inline-block; }

.faq-list details:has(> summary:click){
  border-color: #4a4a4a;
}

.bottom_lolem2 { 
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article3 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.faq-menu-container span {
  font-size:16px;
  color:rgb(203, 201, 201);
}

.faq-menu-list {
  margin-top:50px;
}

.list-line {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.list-line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 16px; 
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-line li a {
  color:rgb(203, 201, 201);
  font-size:14px;
  text-decoration:none;
}

.navi_btn2 {
  margin-top:50px;
}