@charset "utf-8";

.select {
  height: 148px;
  width: 40px;
  border-radius: 8px;
  display:flex;
  justify-content:flex-end;
  align-items:flex-start;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 1;
  background-color: #000;
}